<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/><link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" href="../../static/css/slick-theme.css"/><link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <h1 class="logo">
            Daniel Huamani
            
          </h1>
          <nav class="menu-principal">
            <ul>
              <li><a href="">Perfil</a></li>
              <li><a href="">Experiencia</a></li>
              <li><a href="">Proyectos</a></li>
              <li><a href="">Tutoriales</a></li>
              <li><a href="">Certificados</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section id="perfil">
        <div class="cnt-general">
          <figure><img src="../../static/img/avatar.png" alt="" width="350"/></figure>
          <div class="descripcion">
            <p>Mi Nombre es Daniel Huamani, tengo 22 años.</p>
            <p>Estudiante de la carrera Ingeniería de Sistema en la Universidad Nacional del Callao</p>
            <p>
              Apasionado por el mundo del desarrollo web y mobil, para ello manejo el lenguaje de programación Python con el framerwork Django.
              
            </p>
          </div>
        </div>
      </section>
      <section id="skill">
        <div class="cnt-general">
          <h2 class="title">
            Mis Skills
            
          </h2>
          <div class="cnt-skills">
            <div class="skill">
              <figure><img src="../../static/img/css3.png" alt="" width="200"/></figure>
              <h3 class="skill-title">CSS3</h3>
              <p>70%</p><span></span>
            </div>
            <div class="skill">
              <figure><img src="../../static/img/html5.png" alt="" width="200"/></figure>
              <h3 class="skill-title">HTML5</h3>
              <p>30%</p><span></span>
            </div>
            <div class="skill">
              <figure><img src="../../static/img/javascript.png" alt="" width="200"/></figure>
              <h3 class="skill-title">JAVASCRIPT</h3>
              <p>70%</p><span></span>
            </div>
            <div class="skill">
              <figure><img src="../../static/img/python.png" alt="" width="200"/></figure>
              <h3 class="skill-title">PYTHON</h3>
              <p>20%</p><span></span>
            </div>
            <div class="skill">
              <figure><img src="../../static/img/python.png" alt="" width="200"/></figure>
              <h3 class="skill-title">PYTHON</h3>
              <p>10%</p><span></span>
            </div>
            <div class="skill">
              <figure><img src="../../static/img/python.png" alt="" width="200"/></figure>
              <h3 class="skill-title">PYTHON</h3>
              <p>80%</p><span></span>
            </div>
          </div>
        </div>
      </section>
    </div><script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script type="text/javascript">
      $('.cnt-slider').slick({
      	dots: true,
       	//- infinite: true,
       	speed: 500,
       	fade: true,
       	cssEase: 'linear'
      });
    </script>
  </body>
</html>