<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/><link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" href="../../static/css/slick-theme.css"/><link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <h1 class="logo">
            Daniel Huamani
            
          </h1>
          <nav class="menu-principal">
            <ul>
              <li><a href="">Perfil</a></li>
              <li><a href="">Experiencia</a></li>
              <li><a href="">Portafolio</a></li>
              <li><a href="">Certificados</a></li>
              <li><a href="">Contacto</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section id="presentacion">
        <div class="cnt-general">
          <div class="descripcion-web">
            <div class="page">
              <h2>Daniel Huamani</h2>
              <h3>Backend + Frontend</h3>
            </div>
            <div class="links">
              <ul>
                <li><a href="" class="bitbucket"><i class="icon-bitbucket"></i></a></li>
                <li><a href="" class="github"><i class="icon-github"></i></a></li>
                <li><a href="" class="facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="" class="youtube"><i class="icon-youtube"></i></a></li>
                <li><a href="" class="linkedin"><i class="icon-linkedin2"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="perfil">
        <div class="cnt-general">
          <h2 class="title">ACERCA DE MI</h2>
        </div>
        <div class="cnt-general">
          <div class="descripcion">
            Jover estudiante de la universidad
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quis velit, dolores. Iusto culpa numquam quas ullam illum aliquam tempore corporis dolorum, perferendis, reprehenderit velit ea quasi, non pariatur eius.
            
          </div>
          <div class="detalle-avatar">
            <figure><img src="../../static/img/avatar.png" width="200"/></figure>
            <div class="detalle">
              <ul>
                <li><span>Nombre: </span> Kevin Daniel Huamani Atiquipa</li>
                <li><span>Fecha Nacimiento: </span> 15/04/1994</li>
                <li><span>Celular: </span> 959479450</li>
                <li><span>Email: </span> danielhuamani15@gmail.com</li>
              </ul>
              <div class="descargar-cv"><a href="" class="btn btn-primary">Descargar CV</a></div>
            </div>
            <div class="educacion">
              <h3 class="titulo-educacion">I.E.P Carlos Izaguirre</h3>
              <p>
                2005 - 2010
                
              </p>
              <h3 class="titulo-educacion">Universidad Nacional del Callao</h3>
              <p>2011 - 2016</p>
            </div>
          </div>
        </div>
        <div class="cnt-general mis-hablidades">
          <h2 class="title">
            MIS HABLIDADES
            
          </h2>
          <div class="cnt-skill">
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-html-five"></i>
                  &nbsp; Html5 &nbsp;  20%</span></div>
            </div>
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-js"></i>
                  &nbsp; JavaScript &nbsp;  70%</span></div>
            </div>
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-Python_logo"></i>
                  &nbsp; Python  &nbsp; 70%</span></div>
            </div>
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-html-five"></i>
                  &nbsp; Html5 &nbsp;  20%</span></div>
            </div>
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-js"></i>
                  &nbsp; JavaScript &nbsp;  70%</span></div>
            </div>
            <div class="skil">
              <div class="title-skill"><span>
                  <i class="icon-Python_logo"></i>
                  &nbsp; Python  &nbsp; 70%</span></div>
            </div>
          </div>
        </div>
      </section>
      <section id="experiencia">
        <div class="cnt-general">
          <h2 class="title">EXPERIENCIA</h2>
        </div>
        <div class="cnt-general">
          <div class="cnt-exp"><a href="" class="exp">
              <div class="descripcion">
                <div class="titulo-exp">Vounti -  Programador</div>
                <div class="labor"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="periodo"><span class="inicio">16/09/2015</span><span class="fin">16/09/2015</span></div>
              </div></a><a href="" class="exp">
              <div class="descripcion">
                <div class="titulo-exp">Vounti -  Programador</div>
                <div class="labor"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="periodo"><span class="inicio">16/09/2015</span><span class="fin">16/09/2015</span></div>
              </div></a><a href="" class="exp">
              <div class="descripcion">
                <div class="titulo-exp">Vounti -  Programador</div>
                <div class="labor"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="periodo"><span class="inicio">16/09/2015</span><span class="fin">16/09/2015</span></div>
              </div></a><a href="" class="exp">
              <div class="descripcion">
                <div class="titulo-exp">Vounti -  Programador</div>
                <div class="labor"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                <div class="periodo"><span class="inicio">16/09/2015</span><span class="fin">
                    16/09/2015
                    </span></div>
              </div></a></div>
        </div>
        <section id="portafolio">
          <div class="cnt-general">
            <h2 class="title">PORTAFOLIO</h2>
          </div>
          <div class="cnt-general categorias">
            <ul>
              <li><a href="" class="active">ALL</a></li>
              <li><a href="">WEB</a></li>
              <li><a href="">SISTEMAS</a></li>
              <li><a href="">
                  MOBIL
                  </a></li>
            </ul>
          </div>
          <div class="cnt-general proyectos">
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
            <div class="proyecto">
              <figure><img src="../../static/img/proyect.jpg" width="300"/></figure>
              <h3 class="titulo-proyecto">Carroreceruas agn</h3>
              <div class="capa"></div>
            </div>
          </div>
          <div class="cnt-general paginacion">
            <ul>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
            </ul>
          </div>
        </section>
        <section id="contacto">
          <div class="cnt-general contacto">
            <h2 class="title">CONTACTO</h2>
          </div>
          <div class="cnt-general formulario">
            <div class="descripcion"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ducimus eveniet, eligendi ad eius quasi. Unde explicabo adipisci quam, blanditiis veniam nulla, iste eos obcaecati illo assumenda tempore excepturi magnam!</div>
            <form>
              <div class="cnt-input">
                <input type="text" placeholder="Nombres y Apellidos"/>
                <input type="text" placeholder="Email"/>
                <input type="text" placeholder="Asunto"/>
              </div>
              <div class="cnt-area">
                <textarea name="" cols="30" rows="10" placeholder="Mensaje"></textarea>
              </div>
              <div class="cnt-button">
                <button>Enviar</button>
              </div>
            </form>
          </div>
        </section>
      </section>
      <footer>
        <div class="cnt-general">
          <div class="copyright">
            Daniel Huamani
            
            
          </div>
        </div>
      </footer>
    </div><script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script type="text/javascript">
      $('.cnt-slider').slick({
      	dots: true,
       	//- infinite: true,
       	speed: 500,
       	fade: true,
       	cssEase: 'linear'
      });
    </script>
  </body>
</html>