@import 'fonts'
//colores
c-celeste = #0A6EBD
c-negro = #000000
c-rojo = #EA5455
c-plomo = #393E46
c-plomo-oscuro = #1c2833
c-blanco = #fff
//fuente

lato = 'Lato', sans-serif;
roboto = 'Roboto', sans-serif;
//clases generales

*
    margin 0px
    padding 0px

ul li
    list-style-type none

a
    text-decoration none
.cnt-general
    width 98%
    max-width 1020px
    margin auto

/*********** HEADER ************/

header
    position fixed
    top 0px
    z-index 1100

    background c-plomo
    width 100%

    &:before
        content ""
    .cnt-general
        display flex
        align-items center
        justify-content space-between
        h1.logo
            font-size 28px
            font-family lato
            color c-blanco
        nav.menu-principal


            ul
                display flex

                align-items center
                justify-content space-around
                li

                    a
                        display block
                        padding 20px 20px
                        color c-blanco
                        font-family lato
                        font-size 18px
                        transition .2s all ease
                        font-weight 400
                        border-bottom 5px solid transparent
                    &:hover
                        a
                            background c-rojo





#perfil
    background-image url("../img/perfil-2.jpeg")
    margin-top 66px
    padding-top 30px
    padding-bottom 30px
    background-size cover
    position relative

    &:after
        content ""
        width 100%
        height 100%
        background black
        opacity 0.6
        position absolute
        top 0px
        left 0px
    .cnt-general
        position relative
        z-index 2
        display flex
        align-items center

        figure
            margin-right 60px
            width 250px
            img
                border-radius 50%
                width 250px
                height auto
        .descripcion
            font-size 20px
            color white
            line-height 26px
            font-family lato
#skill
    margin-top 30px
    margin-bottom 30px
    .title
        font-family lato
        text-align center
        font-size 30px
        color c-rojo
        font-weight bold
        margin-bottom 30px
    .cnt-skills
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items flex-end
        .skill
            margin 10px 10px
            padding 0px 15px

            figure
                img
                    display block
                    width 100px
                    height auto
            .skill-title
                padding 10px 0px
                text-align center
                font-family lato
            p
                font-family roboto
                text-align center
                display block
                margin-bottom 5px
            span
                background c-rojo
                height 5px
                width 100%
                display block
