@import 'fonts'
//colores
c-celeste = #0A6EBD
c-negro = #000000
c-rojo = #EA5455
c-plomo = #393E46
c-plomo-oscuro = #1c2833
c-blanco = #fff
//fuente

lato = 'Lato', sans-serif;
roboto = 'Roboto', sans-serif;
//clases generales

*
    margin 0px
    padding 0px

ul li
    list-style-type none

a
    text-decoration none
.cnt-general
    width 98%
    max-width 1020px
    margin auto

/*********** HEADER ************/

header
    position fixed
    top 0px
    z-index 1100

    background c-plomo
    width 100%

    &:before
        content ""
    .cnt-general
        display flex
        align-items center
        justify-content space-between
        h1.logo
            font-size 28px
            font-family lato
            color c-blanco
        nav.menu-principal


            ul
                display flex

                align-items center
                justify-content space-around
                li

                    a
                        display block
                        padding 20px 20px
                        color c-blanco
                        font-family lato
                        font-size 18px
                        transition .2s all ease
                        font-weight 400
                        border-bottom 5px solid transparent
                    &:hover
                        a
                            background c-rojo





#perfil
    background-image url("../img/perfil-2.jpeg")
    margin-top 66px
    padding-top 30px
    padding-bottom 30px
    background-size cover
    position relative
    height 400px
    &:after
        content ""
        width 100%
        height 100%
        background black
        opacity 0.6
        position absolute
        top 0px
        left 0px
    .cnt-general
        position relative
        z-index 2
        display flex
        align-items center
        height 100%
        justify-content center
        .links
            margin-top 40px
            ul
                display flex
                justify-content space-around
                li
                    margin 0px 10px
                    a
                        border-radius 5px
                        transition 0.3s ease all
                        padding 8px 10px 5px 10px
                        font-size 24px
                        i
                            color white
                    a.bitbucket:hover
                        background #205081
                    a.github:hover
                        background black
                    a.facebook:hover
                        background #365899
                    a.youtube:hover
                        background #cc181e
                    a.linkedin:hover
                        background #00a0dc
        .page
            padding 30px 50px
            position relative
            border 1px solid c-blanco
            border-bottom none
            &:after
                content ""
                left 0px
                bottom 0px
                position absolute
                width 50px
                height 1px
                background white
            &:before
                content ""
                right 0px
                bottom 0px
                position absolute
                width 50px
                height 1px
                background white
            h2
                color c-blanco
                font-family lato
                font-size 42px
                text-align center
                margin-bottom 10px
            h3
                color c-blanco
                font-family lato
                font-size 28px
                text-align center
                position absolute
                bottom -12px
                left 0px
                right 0px
                margin auto
                letter-spacing 2px
        figure
            margin-right 60px
            width 250px
            img
                border-radius 50%
                width 250px
                height auto
        .descripcion
            font-size 20px
            color white
            line-height 28px
            font-family lato
#skill
    margin-top 30px
    margin-bottom 30px
    .title
        font-family lato
        text-align center
        font-size 30px
        color c-rojo
        font-weight bold
        margin-bottom 30px
    .cnt-skills
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items flex-end
        .skill
            margin 10px 10px
            padding 10px 15px
            width 120px
            figure

                padding-top 5px
                img
                    display block
                    width 100%
                    height auto
                    margin auto
            .puntaje
                background #F9F7F7
                padding-top 5px
                border-top 5px solid c-rojo
                .skill-title

                    padding 10px 0px
                    text-align center
                    font-family lato
                p
                    font-family roboto
                    text-align center
                    display block
                    margin-bottom 5px
                span
                    background c-rojo
                    height 5px
                    width 100%
                    display block
