extends ./base.jade
block content
	section#presentacion
		.cnt-general
			.descripcion-web
				.page
					h2.
						Daniel Huamani
					h3.
						Backend + Frontend
				.links
					ul
						li
							a(href="").bitbucket
								i.icon-bitbucket
						li
							a(href="").github
								i.icon-github
						li
							a(href="").facebook
								i.icon-facebook
						li
							a(href="").youtube
								i.icon-youtube
						li
							a(href="").linkedin
								i.icon-linkedin2
	section#perfil
		.cnt-general
			h2.title.
				ACERCA DE MI
		.cnt-general
			.descripcion.
				Jover estudiante de la universidad
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quis velit, dolores. Iusto culpa numquam quas ullam illum aliquam tempore corporis dolorum, perferendis, reprehenderit velit ea quasi, non pariatur eius.

			.detalle-avatar
				figure
					img(src="../../static/img/avatar.png", width="200")
				.detalle
					ul
						li.
							<span>Nombre: </span> Kevin Daniel Huamani Atiquipa
						li.
							<span>Fecha Nacimiento: </span> 15/04/1994
						li.
							<span>Celular: </span> 959479450
						li.
							<span>Email: </span> danielhuamani15@gmail.com
					.descargar-cv
						a(href="").btn.btn-primary.
							Descargar CV
				.educacion
					h3.titulo-educacion.
						I.E.P Carlos Izaguirre
					p.
						2005 - 2010

					h3.titulo-educacion.
						Universidad Nacional del Callao
					p.
						2011 - 2016

	section#experiencia
		.cnt-general
			h2.title.
				EXPERIENCIA
		.cnt-general
			.cnt-exp
				.exp
					figure
						img(src="../../static/img/vounti.png", width="100")
					.descripcion
						a(href="").titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo.
							19/08/2014  16/09/2015
				.exp
					figure
						img(src="../../static/img/vounti.png", width="100")
					.descripcion
						a(href="").titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo.
							<span class="inico">16/09/2015</span><span class="fin">16/09/2015</span>
				.exp
					figure
						img(src="../../static/img/vounti.png", width="100")
					.descripcion
						a(href="").titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo.
							<span class="inico">16/09/2015</span><span class="fin">16/09/2015</span>
				.exp
					figure
						img(src="../../static/img/vounti.png", width="100")
					.descripcion
						a(href="").titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo.
							<span class="inico">16/09/2015</span> <span class="fin">16/09/2015</span>











