extends ./base.jade
block content
	section#presentacion
		.cnt-general
			.descripcion-web
				.page
					h2.
						Daniel Huamani
					h3.
						Backend + Frontend
				.links
					ul
						li
							a(href="").bitbucket
								i.icon-bitbucket
						li
							a(href="").github
								i.icon-github
						li
							a(href="").facebook
								i.icon-facebook
						li
							a(href="").youtube
								i.icon-youtube
						li
							a(href="").linkedin
								i.icon-linkedin2
	section#perfil
		.cnt-general
			h2.title.
				ACERCA DE MI
		.cnt-general
			.descripcion.
				Jover estudiante de la universidad
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quis velit, dolores. Iusto culpa numquam quas ullam illum aliquam tempore corporis dolorum, perferendis, reprehenderit velit ea quasi, non pariatur eius.

			.detalle-avatar
				figure
					img(src="../../static/img/avatar.png", width="200")
				.detalle
					ul
						li.
							<span>Nombre: </span> Kevin Daniel Huamani Atiquipa
						li.
							<span>Fecha Nacimiento: </span> 15/04/1994
						li.
							<span>Celular: </span> 959479450
						li.
							<span>Email: </span> danielhuamani15@gmail.com
					.descargar-cv
						a(href="").btn.btn-primary.
							Descargar CV
				.educacion
					h3.titulo-educacion.
						I.E.P Carlos Izaguirre
					p.
						2005 - 2010

					h3.titulo-educacion.
						Universidad Nacional del Callao
					p.
						2011 - 2016
		.cnt-general.mis-hablidades
			h2.title.
				MIS HABLIDADES

			.cnt-skill
				.skil
					.title-skill

						span.
							<i class="icon-html-five"></i>
							&nbsp; Html5 &nbsp;  20%
				.skil
					.title-skill
						span.
							<i class="icon-js"></i>
							&nbsp; JavaScript &nbsp;  70%
				.skil
					.title-skill
						span.
							<i class="icon-Python_logo"></i>
							&nbsp; Python  &nbsp; 70%
				.skil
					.title-skill

						span.
							<i class="icon-html-five"></i>
							&nbsp; Html5 &nbsp;  20%
				.skil
					.title-skill
						span.
							<i class="icon-js"></i>
							&nbsp; JavaScript &nbsp;  70%
				.skil
					.title-skill
						span.
							<i class="icon-Python_logo"></i>
							&nbsp; Python  &nbsp; 70%
	section#experiencia
		.cnt-general
			h2.title.
				EXPERIENCIA
		.cnt-general
			.cnt-exp
				a(href="").exp

					.descripcion
						.titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo
							span.inicio.
								16/09/2015
							span.fin.
								16/09/2015
				a(href="").exp

					.descripcion
						.titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo
							span.inicio.
								16/09/2015
							span.fin.
								16/09/2015
				a(href="").exp

					.descripcion
						.titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo
							span.inicio.
								16/09/2015
							span.fin.
								16/09/2015
				a(href="").exp

					.descripcion
						.titulo-exp.
							Vounti -  Programador
						.labor.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.periodo
							span.inicio.
								16/09/2015
							span.fin.
								16/09/2015

		section#portafolio
			.cnt-general
				h2.title.
					PORTAFOLIO
			.cnt-general.categorias
				ul
					li
						a.
							WEB
						a.
							SISTEMAS
						a.
							MOBIL













