extends ./base.jade
block content
	section#perfil
		.cnt-general
			.descripcion-web
				.page
					h2.
						Daniel Huamani
					h3.
						Backend + Frontend
				.links
					ul
						li
							a(href="").bitbucket
								i.icon-bitbucket
						li
							a(href="").github
								i.icon-github
						li
							a(href="").facebook
								i.icon-facebook
						li
							a(href="").youtube
								i.icon-youtube
						li
							a(href="").linkedin
								i.icon-linkedin2
	section#skill
		.cnt-general
			h2.title.
				Mis Skills

			.cnt-skills
				.skill
					figure
						img(src="../../static/img/css3.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							CSS3
						p.
							70%
						span
				.skill
					figure
						img(src="../../static/img/html5.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							HTML5
						p.
							30%
						span
				.skill
					figure
						img(src="../../static/img/javascript.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							JAVASCRIPT
						p.
							70%
						span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							PYTHON
						p.
							20%
						span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							PYTHON
						p.
							10%
						span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							PYTHON
						p.
							80%
						span

				.skill
					figure
						img(src="../../static/img/html5.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							HTML5
						p.
							30%
						span
				.skill
					figure
						img(src="../../static/img/javascript.png", alt="", width="200")
					.puntaje
						h3.skill-title.
							JAVASCRIPT
						p.
							70%
						span
