extends ./base.jade
block content
	section#perfil
		.cnt-general
			figure
				img(src="../../static/img/avatar.png", alt="", width="350")
			.descripcion
				p.
					Mi Nombre es Daniel Huamani, tengo 22 años.
				p.
					Estudiante de la carrera Ingeniería de Sistema en la Universidad Nacional del Callao
				p.
					Apasionado por el mundo del desarrollo web y mobil, para ello manejo el lenguaje de programación Python con el framerwork Django.

	section#skill
		.cnt-general
			h2.title.
				Mis Skills

			.cnt-skills
				.skill
					figure
						img(src="../../static/img/css3.png", alt="", width="200")
					h3.skill-title.
						CSS3
					p.
						70%
					span
				.skill
					figure
						img(src="../../static/img/html5.png", alt="", width="200")
					h3.skill-title.
						HTML5
					p.
						30%
					span
				.skill
					figure
						img(src="../../static/img/javascript.png", alt="", width="200")
					h3.skill-title.
						JAVASCRIPT
					p.
						70%
					span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					h3.skill-title.
						PYTHON
					p.
						20%
					span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					h3.skill-title.
						PYTHON
					p.
						10%
					span
				.skill
					figure
						img(src="../../static/img/python.png", alt="", width="200")
					h3.skill-title.
						PYTHON
					p.
						80%
					span

