<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/><link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato' rel='stylesheet' type='text/css'>
    <script src="{{STATIC_URL}}node_modules/core-js/client/shim.min.js"></script>
    <script src="{{STATIC_URL}}node_modules/zone.js/dist/zone.js"></script><script src="{{STATIC_URL}}node_modules/zone.js/dist/zone.js"></script>
    <script src="{{STATIC_URL}}node_modules/reflect-metadata/Reflect.js"></script>
    <script src="{{STATIC_URL}}node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="{{STATIC_URL}}node_modules/@angular/core/core.umd.js"></script>
    <script src="{{STATIC_URL}}node_modules/@angular/common/common.umd.js"></script>
    <script src="{{STATIC_URL}}node_modules/@angular/compiler/compiler.umd.js"></script>
    <script src="{{STATIC_URL}}node_modules/@angular/platform-browser/platform-browser.umd.js"></script>
    <script src="{{STATIC_URL}}node_modules/@angular/platform-browser-dynamic/platform-browser-dynamic.umd.js"></script>
    <script src="{{STATIC_URL}}app/app.js"></script>
  </head>
  <body>
    <app>
      <div class="cnt-wrapper">
        <header>
          <div class="cnt-general">
            <h1 class="logo">
              Daniel Huamani
              
            </h1>
            <nav class="menu-principal">
              <ul>
                <li><a href="">Perfil</a></li>
                <li><a href="">Experiencia</a></li>
                <li><a href="">Portafolio</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Certificados</a></li>
                <li><a href="">Blog</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <footer>
          <div class="cnt-general">
            <div class="copyright">
              Daniel Huamani
              
              
            </div>
          </div>
        </footer>
      </div>
    </app><script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script type="text/javascript">
      $('.cnt-slider').slick({
          dots: true,
          //- infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear'
      });
    </script>
  </body>
</html>