
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../../static/css/styles.css")
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato' rel='stylesheet' type='text/css'>
        <script src="{{STATIC_URL}}js/react.js"></script>
        <script src="{{STATIC_URL}}js/react-dom.js"></script>
        <script src="{{STATIC_URL}}js/browser.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.js"></script>
        <script src="{{STATIC_URL}}bower_components/underscore/underscore.js"></script>
        <script src="{{STATIC_URL}}bower_components/backbone/backbone.js"></script>


        //- script(src="{{STATIC_URL}}app/app.js")
    body#app


        .cnt-wrapper
            header
                .cnt-general
                    h1.logo.
                        Daniel Huamani

                    nav.menu-principal
                        ul

                            li
                                a(href="") Home
                            li
                                a(href="") Experiencia
                            li
                                a(href="") Portafolio
                            li
                                a(href="") Contacto
                            li
                                a(href="") Certificados
                            li
                                a(href="") Blog
            section#presentacion
                .cnt-general

            block content
            footer
                .cnt-general
                    .copyright.
                        Daniel Huamani

        <script src="{{STATIC_URL}}app/models.js" ></script>
        <script src="{{STATIC_URL}}app/collections.js" ></script>
        <script src="{{STATIC_URL}}app/presentacion.js"></script>
        <script src="{{STATIC_URL}}app/vistas.js" ></script>
        <script src="{{STATIC_URL}}app/rutas.js" ></script>
