
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Daniel Huamani
        <meta name="author" content="Daniel Huamani">
        <meta name="description" content="Desarrollador Frontend y Backend">
        <meta name="keywords" content="web,design,html,css,javascript,html5,python,django,development">
        link(rel="stylesheet", href="{{STATIC_URL}}css/styles.css")
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato' rel='stylesheet' type='text/css'>
        <script src="{{STATIC_URL}}js/react.js"></script>
        <script src="{{STATIC_URL}}js/react-dom.js"></script>
        <script src="{{STATIC_URL}}js/browser.min.js"></script>
        <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.js"></script>



        //- script(src="{{STATIC_URL}}app/app.js")
    body#app


        .cnt-wrapper
            header
                .cnt-general
                    h1.logo.
                        Daniel Huamani

                    nav.menu-principal
                        ul

                            li.active
                                a(href="#presentacion") Home
                            li
                                a(href="#perfil") Acerca de mi
                            li
                                a(href="#experiencia") Experiencia
                            li
                                a(href="#portafolio") Portafolio
                            li
                                a(href="#contacto") Contacto
                            //- li
                            //-     a(href="") Certificados
                            li
                                a(href="") Blog
            section#presentacion
                .cnt-general

            block content
            footer
                .cnt-general
                    .copyright.
                        Daniel Huamani
            block js


        <script src="{{STATIC_URL}}jsx/home.js" type="text/javascript"></script>
        script(type="text/javascript").
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-82114419-1', 'auto');
          ga('send', 'pageview');


