extends jade/base.jade
block content

    section#perfil
        .cnt-general
            h2.title.
                ACERCA DE MI
        .cnt-general#perfil-detalle

        .cnt-general.mis-hablidades#mis-habilidades





    section#experiencia

  

    section#portafolio
      

                

        //- .proyectos
        //-     .proyecto
        //-         figure
        //-             img(src="../../static/img/proyect.jpg", width="300")
        //-         h3.titulo-proyecto.
        //-             Carroreceruas agn Carroreceruas agn
        //-         .capa

        //- .cnt-general.paginacion
        //-     ul
        //-         li
        //-             a(href="").
        //-                 1
        //-         li
        //-             a(href="").
        //-                 2
        //-         li
        //-             a(href="").
        //-                 3
    section#contacto
        .cnt-general.contacto
            h2.title.
                CONTACTO
        .cnt-general.formulario
            .descripcion.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ducimus eveniet, eligendi ad eius quasi. Unde explicabo adipisci quam, blanditiis veniam nulla, iste eos obcaecati illo assumenda tempore excepturi magnam!
            form
                .cnt-input
                    input(type="text" placeholder="Nombres y Apellidos")
                    input(type="text" placeholder="Email")
                    input(type="text" placeholder="Asunto")

                .cnt-area
                    textarea(name="", cols="30", rows="10", placeholder="Mensaje")
                .cnt-button
                    button.
                        Enviar
