extends jade/base.jade
block content

    section#perfil
        .cnt-general
            h2.title.
                ACERCA DE MI
        .cnt-general#perfil-detalle

        .cnt-general.mis-hablidades
            h2.title.
                MIS HABLIDADES

            .cnt-skill
                .skil
                    .title-skill

                        span.
                            <i class="icon-html-five"></i>
                            &nbsp; Html5 &nbsp;  20%
                .skil
                    .title-skill
                        span.
                            <i class="icon-js"></i>
                            &nbsp; JavaScript &nbsp;  70%
                .skil
                    .title-skill
                        span.
                            <i class="icon-Python_logo"></i>
                            &nbsp; Python  &nbsp; 70%
                .skil
                    .title-skill

                        span.
                            <i class="icon-html-five"></i>
                            &nbsp; Html5 &nbsp;  20%
                .skil
                    .title-skill
                        span.
                            <i class="icon-js"></i>
                            &nbsp; JavaScript &nbsp;  70%
                .skil
                    .title-skill
                        span.
                            <i class="icon-Python_logo"></i>
                            &nbsp; Python  &nbsp; 70%
    section#experiencia
        .cnt-general
            h2.title.
                EXPERIENCIA
        .cnt-general
            .cnt-exp
                a(href="").exp

                    .descripcion
                        .titulo-exp.
                            Vounti -  Programador
                        .labor.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .periodo
                            span.inicio.
                                16/09/2015
                            span.fin.
                                16/09/2015
                a(href="").exp

                    .descripcion
                        .titulo-exp.
                            Vounti -  Programador
                        .labor.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .periodo
                            span.inicio.
                                16/09/2015
                            span.fin.
                                16/09/2015
                a(href="").exp

                    .descripcion
                        .titulo-exp.
                            Vounti -  Programador
                        .labor.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .periodo
                            span.inicio.
                                16/09/2015
                            span.fin.
                                16/09/2015
                a(href="").exp

                    .descripcion
                        .titulo-exp.
                            Vounti -  Programador
                        .labor.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .periodo
                            span.inicio.
                                16/09/2015
                            span.fin.
                                16/09/2015

    section#portafolio
        .cnt-general
            h2.title.
                PORTAFOLIO
        .cnt-general.categorias
            ul
                li
                    a(href="").active.
                        ALL
                li
                    a(href="").
                        WEB
                li
                    a(href="").
                        SISTEMAS
                li
                    a(href="").
                        MOBIL

        .cnt-general.proyectos
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
            .proyecto
                figure
                    img(src="../../static/img/proyect.jpg", width="300")
                h3.titulo-proyecto.
                    Carroreceruas agn
                .capa
        .cnt-general.paginacion
            ul
                li
                    a(href="").
                        1
                li
                    a(href="").
                        2
                li
                    a(href="").
                        3
    section#contacto
        .cnt-general.contacto
            h2.title.
                CONTACTO
        .cnt-general.formulario
            .descripcion.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ducimus eveniet, eligendi ad eius quasi. Unde explicabo adipisci quam, blanditiis veniam nulla, iste eos obcaecati illo assumenda tempore excepturi magnam!
            form
                .cnt-input
                    input(type="text" placeholder="Nombres y Apellidos")
                    input(type="text" placeholder="Email")
                    input(type="text" placeholder="Asunto")

                .cnt-area
                    textarea(name="", cols="30", rows="10", placeholder="Mensaje")
                .cnt-button
                    button.
                        Enviar















